<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-css/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/common.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    </head>
    <body>
        <header class="main-header container-fluid">
            <div class="logo col-sm-8"><a href="/"><h1>Book Keeper</h1></a></div>
            <div class="user-box col-sm-4 pull-right">
            {% if app.user %}
                <span>{{ app.user.username }}</span> | <a href="/logout">Logout</a>
            {% else %}
                <a href="{{ path('signup') }}">Sign-up</a> |
                <a href="/login">Login</a>
            {% endif %}
            </div>
        </header>
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert col-xs-12 alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert colxs-md-12 alert-success">{{ flashMessage }}</div>
            {% endfor %}
            <div class="clear">
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>