{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    {%  if is_granted("ROLE_ADMIN") %}
        Hi {{ app.user.username }} | <a href="{{ path("logout") }}">Logout</a>
    {% else %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData) }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 col-md-2 col-lg-2 control-label">Username</label>
                <div class="col-sm-10 col-md-8 col-lg-7">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-sm form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 col-md-2 col-lg-2 control-label">Password</label>
                <div class="col-sm-10 col-md-8 col-lg-7">
                    <input type="password" id="password" name="_password" class="input-sm form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="remember_me" class="col-sm-2 col-md-2 col-lg-2 control-label">Remember me</label>
                <div class="col-sm-10 col-md-8 col-lg-7 form-checkbox-holder">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                </div>
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-4 col-md-2">
                    <button type="submit" class="input-sm form-control">login</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}